[submodule "PAD-L-F-Service"]
	path = PAD-L-F-Service
	url = https://github.com/KaBoomKaBoom/PAD-L-F-Service.git
[submodule "PAD-Budgeting-Service"]
	path = PAD-Budgeting-Service
	url = https://github.com/KaBoomKaBoom/PAD-Budgeting-Service.git
[submodule "PAD_User_Management_Service"]
	path = PAD_User_Management_Service
	url = git@github.com:simiion12/PAD_User_Management_Service.git
[submodule "PAD_Notification_Service"]
	path = PAD_Notification_Service
	url = git@github.com:simiion12/PAD_Notification_Service.git
[submodule "PAD_Check-in_Service"]
	path = PAD_Check-in_Service
	url = https://github.com/Kipitokisk/PAD_Check-in_Service.git
[submodule "PAD_Cab_Booking_Service"]
	path = PAD_Cab_Booking_Service
	url = https://github.com/Kipitokisk/PAD_Cab_Booking_Service.git
[submodule "PAD-Tea-Management-Service"]
	path = PAD-Tea-Management-Service
	url = https://github.com/Pascal-Adrian/PAD-Tea-Management-Service.git
[submodule "PAD-Communication-Service"]
	path = PAD-Communication-Service
	url = https://github.com/Pascal-Adrian/PAD-Communication-Service.git
[submodule "PAD-Fund-Raising-Service"]
	path = PAD-Fund-Raising-Service
	url = https://github.com/Chiuliana/PAD-Fund-Raising-Service.git
[submodule "PAD-Sharing-Service"]
	path = PAD-Sharing-Service
	url = https://github.com/Chiuliana/PAD-Sharing-Service.git
[submodule "PAD-Service-Discovery"]
	path = PAD-Service-Discovery
	url = https://github.com/KaBoomKaBoom/PAD-Service-Discovery.git
[submodule "PAD-FAF-CAB-GATEWAY"]
	path = PAD-FAF-CAB-GATEWAY
	url = https://github.com/KaBoomKaBoom/PAD-FAF-CAB-GATEWAY.git
[submodule "PAD_Message_Broker"]
	path = PAD_Message_Broker
	url = https://github.com/KaBoomKaBoom/PAD-Message-Broker.git
[submodule "PAD_Data_Warehouse"]
	path = PAD_Data_Warehouse
	url = https://github.com/KaBoomKaBoom/PAD-Data-Warehouse.git
