[submodule "PAD-L-F-Service"]
	path = PAD-L-F-Service
	url = https://github.com/KaBoomKaBoom/PAD-L-F-Service.git
[submodule "PAD-Budgeting-Service"]
	path = PAD-Budgeting-Service
	url = https://github.com/KaBoomKaBoom/PAD-Budgeting-Service.git
[submodule "PAD_User_Management_Service"]
	path = PAD_User_Management_Service
	url = git@github.com:simiion12/PAD_User_Management_Service.git
[submodule "PAD_Notification_Service"]
	path = PAD_Notification_Service
	url = git@github.com:simiion12/PAD_Notification_Service.git
